.global-category-dropdown {
  width: 100%;
  position: relative;
}
.global-category-dropdown .dropdown-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  background: var(--neutrals-100);
  padding: 10px 12px;
  cursor: pointer;
}
.global-category-dropdown .dropdown-head h2,
.global-category-dropdown .dropdown-head input {
  color: var(--neutrals-600);
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.global-category-dropdown .dropdown-head h2 {
  max-width: 200px;
}
.global-category-dropdown .dropdown-head input {
  width: 100%;
  background-color: transparent;
}
.global-category-dropdown .dropdown-head .arrow-icon {
  transition: 0.3s;
  transform: rotate(0deg);
  cursor: pointer;
}
.global-category-dropdown.active .dropdown-head .arrow-icon {
  transform: rotate(180deg);
}
.global-category-dropdown .dropdown-body {
  border-radius: 8px;
  border: 0.4px solid var(--neutrals-300);
  background: var(--neutrals-100);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4px);
  transition: 0.3s;
  max-height: 240px;
  overflow: auto;
  pointer-events: none;
}
.global-category-dropdown.active .dropdown-body {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: all;
}
.global-category-dropdown .dropdown-body ul li {
  color: var(--neutrals-900);
  font-size: 16px;
  font-weight: 600;
  padding: 8px 12px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  border-bottom: 0.5px solid #ddd;
}
.global-category-dropdown .dropdown-body ul li.deleted {
  background: #ffc2be78;
}
.global-category-dropdown .dropdown-body ul li:last-child {
  border-bottom: none;
}
.global-category-dropdown .dropdown-body ul li:hover {
  background: var(--primary-50);
}

@media screen and (max-width: 500px) {
  .global-category-dropdown .dropdown-head h2 {
    font-size: 14px;
    max-width: 150px;
  }
  .global-category-dropdown .dropdown-head .arrow-icon svg {
    width: 16px;
    height: 16px;
  }
}
