:where(.css-dev-only-do-not-override-1jr9qlj).ant-pagination
  .ant-pagination-options {
  display: none;
}
:where(.css-dev-only-do-not-override-1jr9qlj).ant-pagination
  .ant-pagination-prev,
:where(.css-dev-only-do-not-override-1jr9qlj).ant-pagination
  .ant-pagination-next,
:where(.css-dev-only-do-not-override-1jr9qlj).ant-pagination
  .ant-pagination-jump-prev,
:where(.css-dev-only-do-not-override-1jr9qlj).ant-pagination
  .ant-pagination-jump-next {
  min-width: 20px;
}
:where(.css-dev-only-do-not-override-1jr9qlj).ant-pagination
  .ant-pagination-item-active
  a {
  color: white;
  background-color: #462aff;
  border: none;
  border-radius: 4px;
}

.pages-pagination{
  display: flex;
  justify-content: center;
  margin-top: 36px;
}

@media screen and (max-width:500px) {
  .pages-pagination{
    padding: 0 12px;
  }
}