.change-modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}
.change-modal-form {
  /* padding: 24px 36px; */
  padding: 16px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.change-modal-form h2 {
  font-size: 18px;
  font-weight: 700;
  /* line-height: 33px; */
  color: var(--neutrals-900);
  margin: 18px 0;
}
.form input:nth-child(1) {
  margin-bottom: 16px;
}
.change-modal-form .changepass-btn {
  color: white;
  background-color: #462aff;
  padding: 0px 24px;
  border-radius: 8px;
  gap: 10px;
  width: 416px;
  height: 54px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.old-view-icon {
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 20px;
  top: 18px;
}
.new-view-icon {
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 20px;
  top: 35px;
}
.close-icon {
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

.change-modal .change-modal-form .change-password-con .password-class {
  position: relative;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .change-modal .change-modal-form {
    border-radius: 0;
    padding: 12px;
    width: 100%;
    height: 100%;
  }
  .change-modal .change-modal-form .change-password-con {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 100%;
  }

  .change-modal .change-modal-form .change-password-con .css-enzq9 {
    width: 100%;
  }

  .change-modal-form .changepass-btn {
    width: 100%;
  }

}
